{% extends 'base.html' %}
{% block body_site_page %}
<div class="container-fluid">
  <h1 class="text-center">{{ head }}</h1>
  <div class ="row">
      <div class="col-12" style="background-color: #ffffff;">
        {% if slug %}
          {% include 'staff/staff_cont_sub.html' %}
        {% else %}
          {% include 'staff/staff_cont.html' %}
        {% endif %}
      </div>
      {% if show_notification %}
      {% include 'includes/notification.html' %}
      {% endif %}
  </div>
</div>
{% endblock body_site_page %}
